#game{
  margin:20px auto;
  text-align: center;
  color: white;
}
#ctrBtns{
  padding: 20px 25px 20px 25px ;
  background-color:#333;
  width: 40%;
  margin: 0 auto 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
#cells{
  padding: 0;
}
.cellRow{
  margin: 0;
  padding: 0;
  height: 12px;
}
.cell{
  display: inline-block;
}
.red{
  background-color: red;
}
.black{
  background-color: black;
}
#config{
  background-color: #333;
  width: 50%;
  margin: 0 auto;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: left;
}
.inCell{
  width:12px;
  height:12px;
  border: 1px solid gray;
  margin: 0;
  padding: 0
}
